.projectTemplate{
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: auto;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.title{
  margin-top: 13vh;
  text-align: center;
}

.projectContainer{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.projectImage{
  width: 35vw;
  min-width: 250px;
  margin: 0 3vw 0 3vw;
  border-radius: 1.75vw;
  object-fit: cover;
}

.summary{
  width: 97vw;
  text-align: left;
  margin: 0 0 0 1.5vw;
  display: flex;
  flex-direction: column;
}

.projectTemplate h1{
  font-size: max(20px, 3vw);
  font-weight: bold;
  color: #fbe086;
}

.projectTemplate h2{
  font-size: max(16px, 1.25vw);
  color: white;
}

.summaryText{
  margin-top: 3vh;
  font-size: max(14px, 1.4vw);
  line-height: 160%;
}

.points p{
  margin-top: 3vh;
  font-size: max(14px, 1.4vw);
  line-height: 160%;

}

.description{
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.projectTemplate h3{
  margin: 1vh 0 0 0;
}

.projectTemplate p{
  margin: 1vh 0 1vh 0;
}